.screen-width {
  max-width: 400px;
  margin: 0 auto;
}

.is-height-1em {
  height: 1em;
}

.page-header__title {
  font-size: 1rem;
  line-height: 1.4;
}

.page-content {
  border: solid 1px #d3d3d3;
  border-radius: 5px;
}

.is-db {
  display: block;
}

.is-vertical-align-bottom {
  vertical-align: bottom;
}

.has-background-main {
  background: #d8e5ef;
}

.has-background-main-dark {
  background: #1f445e;
}

.has-text-title {
  color: #1f445e;
}

