.page-header__title {
  min-height: 3.25rem;
  line-height: 3.25rem;
  background: #a5b8c6;
}

.page-content {
  border: solid 1px #d3d3d3;
  border-radius: 5px;
}

.is-db {
  display: block;
}

.is-text-align-center {
  text-align: center;
}

.is-vertical-align-bottom {
  vertical-align: bottom;
}

.has-background-main {
  background: #d8e5ef;
}

.has-background-main-dark {
  background: #1f445e;
}

.has-text-title {
  color: #1f445e;
}

.body {
  width: 480px;
  margin: 0 auto;
  background: white;
  max-width: 100%;
}

.html {
  background: #a5b8c6;
}

.wrapper {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper__start {
  flex: 1;
}

.step-num {
  background: #1f445e;
  color: white;
  display: inline-block;
  width: 36px;
  border-radius: 12px;
  text-align: center;
}

.nav-icon {
  padding-left: 8px;
  vertical-align: text-top;
  color: #1f445e;
}

.navbar-menu {
  background: #d8e5ef;
}

.dropdown-item {
  background: #d8e5ef;
}

.dropdown-content {
  background: #d8e5ef;
}

.navbar-item:hover {
  background-color: #d8e5bb;
}

.navbar-item-custom {
  color: #4a4a4a;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  position: relative;
  display: flex;
  align-items: center;
}

.navbar-item-custom:hover {
  background-color: #d8e5bb;
}

.top-page-content-line-height {
  line-height: 1.8;
}