.year,
.month {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  color: #363636;
}

.report-title {
  border-top: solid 2px;
  padding: 16px;
  text-align: center;
}

.report-content-title {
  background: #cfcfcf;
  padding-left: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.icon-color__sleep {
  color: #ff7f7f;
}

.icon-color__meal {
  color: #ff7f00;
}

.icon-color__medicine {
  color: #7f00ff;

}

.icon-color__bathe {
  color: #007fff;

}

.icon-color__go-out {
  color: #814721;
}

.icon-color__person {
  color: #ff007f;
}


@page {
  size: A4 portrait;
  margin: 0;
}

.print-page-on {
  height: 298mm;
}

.print-width {
  width: 206mm;
}

.print-off {
  display: none;
}

.screen-report-width {
  max-width: 800px;
  margin: 0 auto;
}
