.simple-calendar {
  .today {
    background-color: #ffffdb;
  }

  table {
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }

  thead {
    background: #d8e5ef;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    padding: 2px;
    border-collapse: collapse;
    border: solid 1px #d3d3d3;
    box-sizing: border-box;
    text-align: center;
    color: #1f445e;
  }

  td {
    width: 50px;
    height: 70px;
    padding: 4px;
    vertical-align: top;

    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
  }
}

.calendar-heading {
  display: flex;
  justify-content: space-between;
}

.calendar-title {
  line-height: 44px;
}

.calendar-heading__link {
  display: inline-block;
  height: 44px;
  width: 44px;
  text-align: center;
  line-height: 44px;
}